@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IT Crowd</h1>
    <p class="lead">CB6 - Bi-Weekly Project 6</p>
    <p><a href="~/miscellaneous/Assignment_6_Brief_CB6_Part.pdf" class="btn btn-primary btn-lg">Project Brief &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @*<h2>GitHub</h2>
            <p>
                GitHub Repository
                <a href="">GitHub</a>
            </p>*@
    </div>
    <div class="col-md-4">
        @*TODO*@
    </div>
    <div class="col-md-4">
        @*TODO*@
    </div>
</div>