@{
    /**/

    ViewBag.Title = "User Role description page";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    <br />
    <ul>
        <li>
            <b>Architect:</b> Provides to the Programmer certain data, e.g. a document with the analysis and architecture of the system
        </li>
        <br />
        <li>
            <b>Analyst:</b> Provides to the Architect certain data e.g. a document with the analysis of the system
        </li>
        <br />
        <li>
            <b>Programmer:</b> View certain data, e.g. files, pages etc
        </li>
        <br />
        <li>
            <b>Tester:</b> View certain data that have been marked from the Programmer as “To Test
        </li>
        <br />
        <li>
            <b>Manager: </b>Accepts or declines new authorizations
        </li>
    </ul>
</p>

<br />

<h2>Contact</h2>

<address>
    <ul>
        <li>
            <strong>Email:</strong>   <a href="mailto:giorgos.kalomalos@gmail.com">giorgos.kalomalos@gmail.com</a><br />
        </li>
        <br />
        <li>
            <strong>GitHub:</strong>   <a href="https://github.com/CortoMaltese3/BiWeeklyProject6.git">GitHub Repository</a><br />
        </li>
    </ul>
</address>
