@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Message</h2>


<address>
    <ul>
        <li>
            <strong>Email:</strong>   <a href="mailto:giorgos.kalomalos@gmail.com">giorgos.kalomalos@gmail.com</a><br />
        </li>
        <br />
        <li>
            <strong>GitHub:</strong>   <a href="https://github.com/CortoMaltese3/Bi-Weakly-Project-4.git">GitHub Repository</a><br />
        </li>
    </ul>  
</address>