<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IndividualProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IndividualProject.Properties.ProjectSettings.connectionString"
            connectionString="&quot;Server=localhost; Database = Project1_Individual; User Id = admin; Password = admin&quot;"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <IndividualProject.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>Server=localhost; Database = Project1_Individual; Trusted_Connection = True;</value>
            </setting>
            <setting name="newUserRequestPath" serializeAs="String">
                <value>C:\Users\giorg\Documents\Coding\AFDEmp\C#\Individual Project 1\CRMTickets\NewUserRequests\NewUserRequest.txt</value>
            </setting>
            <setting name="TTnotificationToUser" serializeAs="String">
                <value>C:\Users\giorg\Documents\Coding\AFDEmp\C#\Individual Project 1\CRMTickets\TechnicalIssues\TroubleTicketNotificationToUser_</value>
            </setting>
            <setting name="newUserRequestFolder" serializeAs="String">
                <value>C:\Users\giorg\Documents\Coding\AFDEmp\C#\Individual Project 1\CRMTickets\NewUserRequests</value>
            </setting>
            <setting name="TTnotificationToUserFolder" serializeAs="String">
                <value>C:\Users\giorg\Documents\Coding\AFDEmp\C#\Individual Project 1\CRMTickets\TechnicalIssues</value>
            </setting>
        </IndividualProject.Properties.Settings>
    </applicationSettings>
</configuration>